html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(96, 142, 197);
    background: linear-gradient(180deg, rgba(96, 142, 197, 1) 0%, rgba(95, 141, 196, 1) 22%, rgba(43, 148, 37, 1) 97%);
}
